.image-element{
    display: flex;   
    padding: 10px;
    border-bottom: 1px solid lightgray;    
}
.course-element{
    margin-left: 50px;
    padding : 5px;
}

.btn-purchase{
    background-color: goldenrod;
    height: 25px;
    width: 150px;
    border-color: gold;
    border-radius: 3px;
    cursor: pointer;
}


.image-element img{
    height: 218px;
    width: 218px;
}
