.main-container{
    display: flex;
}

.course-container{
    width: 70%;
    margin-left: 150px;
    padding: 5px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;    
}

.cart-container{
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgba(211, 211, 211, 0.397);
    border-radius: 10px;
    padding: 30px;
    height: 150px;
}